[user]
	email = cameron.gagnon@gmail.com
	name = Cameron Gagnon
[push]
	default = simple

[help]
    # Automatically fix typos such as 'git psuh' to 'git push'
    autocorrect = 1

# Alias lets you create new git subcommands.
# The first example lets you type `git st` instead of `git status`.
# The second example augments `git log` to include a summary of changed files
# and to show only the commit titles.
# The last exaples are the `git graph` command we showed in lecture.
# Try them out!
[alias]
    st = status
    ll = log --stat --abbrev-commit
    graph = log --graph --full-history --all --color --pretty=tformat:"%C(red)%h%C(reset)%x09%C(green)%d%C(reset)%C(bold)%s%C(reset)%C(yellow)(%an)%C(reset)"

[init]
	templatedir = ~/.git_template
[rerere]
	enabled = true
